.about {
  height: 85vh;
  padding: 8rem 15rem;
  @include respond(small-phone) {
    height: 75vh;
    padding: 10rem;
  }

  &__body {
    height: 100%;
    @include respond(big-phone) {
      height: 70%;
    }
  }
  &__body--right {
    position: relative;
    &-photo {
      max-width: 55%;
      box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
      margin: 0.5rem;
      position: absolute;
      border-radius: 2rem;
      z-index: 1;
      transition: all 0.2s;
      &:hover {
        transform: scale(1.1);
        z-index: 2;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
        outline: 1.5rem solid $color-primary;
        outline-offset: 1rem;
      }
    }
    @include respond(small-phone) {
      height: 60%;
      width: 100%;
    }
    .photo-1 {
      top: -2rem;
      left: 0;
      @include respond(small-phone) {
        top: 10rem;
        left: -7rem;
        transform: scale(1.1);
      }
    }
    .photo-2 {
      top: 4rem;
      right: -2rem;
      @include respond(small-phone) {
        top: 3rem;
        right: -7rem;
        transform: scale(1.1);
      }
    }
    .photo-3 {
      top: 15rem;
      left: 20%;
      @include respond(small-phone) {
        top: 20rem;
        transform: scale(1.2);
      }
    }
    &:hover &-photo:not(:hover) {
      transform: scale(0.9);
    }
  }
}
