.footer {
  background: #333;
  padding: 12rem 0;
  @include respond(big-phone) {
    padding: 8rem 0;
  }
  &__body {
    padding-top: 12rem;
    &--right {
      padding-top: 1.5rem;

      font-size: 1.6rem !important;
      font-weight: 500;
      color: $color-white;
      letter-spacing: 0.5px;
      @include respond(big-phone) {
        margin-top: 5rem;
        text-align: center;
      }

      .btn--text-white {
        margin: 0;
      }
    }
    &--left {
      justify-content: center;
    }

    @include respond(big-phone) {
      padding: 5rem;
      flex-flow: column nowrap;
    }
  }
}
