.story {
  position: relative;
  z-index: 1;
  //   height: 90vh;
  &__body {
    // background: #000;
    margin: 4rem 0;
    @include respond(tablet-port) {
      margin: 1rem;
    }
    &--box {
      margin: 8rem auto;
      box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
      background-color: rgba($color-white, 0.6);
      border-radius: 5px;
      font-size: 1.6rem;
      width: 62%;
      padding: 5rem;
      transform: skewX(-15deg);
      @include respond(tablet-port) {
        flex-flow: column nowrap;
        align-items: center;
        text-align: center;
        width: 60%;
        padding: 4rem;
        padding-bottom: 0;
      }
      //   background: #000;
      &:hover &-fig img {
        transform: scale(1);
        filter: blur(3px) brightness(70%);
      }
      &:hover &-fig figcaption {
        // display: block;
        transform: translate(-50%, -50%);
        opacity: 1;
      }
      &-fig {
        float: left;
        width: 15rem;
        height: 15rem;
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);

        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        transform: skewX(15deg);
        position: relative;
        @include respond(tablet-port) {
          float: none;
          margin-bottom: 4rem;
        }

        img {
          transform: scale(1.3);
          transition: all 0.8s;
          height: 100%;

          //   display: block;
          //   width: 100%;
        }
        figcaption {
          text-transform: uppercase;
          font-size: 1.8rem;
          text-align: center;
          color: $color-white;
          line-height: 2.5rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, 20%);
          opacity: 0;
          transition: all 0.5s;
          //   display: none;
        }
      }
      &-text {
        transform: skewX(15deg);
        padding: 0 2rem;
        .box-text-title {
          font-size: 1.8rem;
          font-weight: 600;
          text-transform: uppercase;
          padding-bottom: 1.5rem;
        }
        p {
          line-height: 3rem;
          font-weight: 500;
        }
        @include respond(tablet-port) {
          padding: 2rem;
        }
      }
    }
  }
}
